In [ ]:
import os
import random
import time
import pandas
import requests
import urllib.request
import psycopg2
import re
import math
import psycopg2.extras
import pprint
from IPython.core.display import display, HTML
from sqlalchemy import create_engine

In [ ]:
def sql_get_rows(sql):
    cn = psycopg2.connect("postgresql://postgres@localhost/work")
    cur = cn.cursor(cursor_factory=psycopg2.extras.RealDictCursor)
    cur.execute(sql)
    rows = cur.fetchall()
    cn.close()
    return rows

def sql_exec(sql):
    cnw = psycopg2.connect("postgresql://postgres@localhost/work")
    curw = cnw.cursor(cursor_factory=psycopg2.extras.RealDictCursor)
    curw.execute(sql)
    cnw.commit()    
    cnw.close()

In [ ]:
df = pandas.read_excel("hip-hop-history.xlsx", sheet_name="yearly-history", index_col=None, usecols="A:D")

In [ ]:
df.columns

In [ ]:
html = "<ol>"
for index, row in df.iterrows():
    html += "<li>%s %s %s %s</li>\n" % (row['Year'], row['Chart Weeks'], row['First Date'], row['ï»¿Artist'])
html += "</ol>"
display(HTML(html))

In [ ]:
df = pandas.read_csv("rap-song1.txt", sep="\t")

In [ ]:
engine = create_engine('postgresql://postgres:postgres@querydb.eng.qumulo.com:5432/work')
df.to_sql('billboard_rap_history', engine)

In [ ]:
sql = """
SELECT distinct regexp_replace(
regexp_replace(regexp_replace(image, 'http.*?img/', ''), '-53x53', ''), '[^a-z0-9.]+', '-', 'g') file_name
, image url
FROM billboard_rap_history
WHERE in_out_of_top_rap_artists = 'In'
"""


headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36'}

cn = psycopg2.connect(user = "postgres",
                      password = "postgres",
                      host = "localhost",
                      database = "work")
cur = cn.cursor()
cur.execute(sql)
rows = cur.fetchall()
for row in rows:
    file_name = "images/%s" % row[0]
    url = row[1].replace('-53x53', '')
    if not os.path.exists(file_name):
        print("downloading %s" % url)
        resp = requests.get(url, headers=headers)
        print(resp.status_code)
        fw = open(file_name, "wb")
        fw.write(resp.content)
        fw.close()
        time.sleep(random.randint(5,20))
    else:
        print("downloaded %s" % file_name)
cur.close()
cn.close()

In [ ]:
sql2 = """

SELECT t.*, t2.weeks_on_chart
FROM (
SELECT artist, yr
, count(1) songs_in_chart
, MAX(CASE WHEN row_num_rank = 1 THEN song END) top_song_name
, MAX(CASE WHEN row_num_rank = 1 THEN highest_rank END) top_song_top_rank
, MAX(CASE WHEN row_num_rank = 1 THEN weeks_on_chart END) top_song_weeks_on_chart
FROM
(
SELECT to_char(date, 'yyyy')::SMALLINT yr
, artist
, song
, min(rank) highest_rank
, count(1) weeks_on_chart
, round(sum(1.0 / rank)::NUMERIC, 2) score
, row_number()over(partition by artist, to_char(date, 'yyyy')::SMALLINT ORDER BY min(rank)) row_num_rank
FROM billboard_rap_history
GROUP BY 1, 2, 3
) t
GROUP BY 1, 2
) t
JOIN (
SELECT to_char(date, 'yyyy')::SMALLINT yr
, artist
, count(distinct date) weeks_on_chart
FROM billboard_rap_history
GROUP BY 1, 2
) t2 ON t.yr = t2.yr AND t.artist = t2.artist
;
"""

sql1 = """
SELECT artist
, to_char(min(date), 'yyyy')::SMALLINT first_year
, to_char(max(date), 'yyyy')::SMALLINT last_year
, count(DISTINCT to_char(date, 'yyyy')) years_in_the_charts
, count(DISTINCT date) / count(DISTINCT to_char(date, 'yyyy')) chart_weeks_per_year
, sum(1.0 / rank)::INT total_score
, min(rank) highest_rank
, count(distinct song) songs_in_charts
FROM billboard_rap_history
WHERE in_out_of_top_rap_artists = 'In'
GROUP BY 1
ORDER BY 2 DESC, total_score DESC
"""

ad = {}
for row in sql_get_rows(sql2):
    k = "%s|%s" % (row['artist'], row['yr'])
    ad[k] = row

In [ ]:
fw = open("all-data.html", "w")
fw.write("<ol>\n")
for row in sql_get_rows(sql1):
    fw.write("<li><h2>%(artist)s</h2>\n" % row)
    for yr in range(2019, 1988, -1):
        if yr >= row['first_year']:
            k = "%s|%s" % (row['artist'], yr)
            if k in ad:
                d = ad[k]
                sentence = "<p>In %s %s had %s song%s on the rap charts for a total of %s week%s with %s going up to #%s</p>\n"
                fw.write(sentence % (d['yr'], d['artist']
                                  , d['songs_in_chart'], 's' if d['songs_in_chart'] > 1 else ''
                                  , d['weeks_on_chart'], 's' if d['weeks_on_chart'] > 1 else ''
                                  , d['top_song_name'], d['top_song_top_rank']
                    ))
            else:
                fw.write("<p class='e y y%s'></p>\n" % yr)
    fw.write("</li>\n")
fw.write("</ol>")
fw.close()