In [1]:
import pandas
import sys
import os
sys.path.insert(0, os.getcwd().replace("/notebooks", ""))

In [2]:
from data_ingest.libs.utils import download_file

source: https://tfl.gov.uk/corporate/publications-and-reports/bus-safety-data

In [3]:
dl_file = download_file("https://tfl.gov.uk/cdn/static/cms/documents/injury-details-2022-q3.csv",
                        "injury-details.xlsx")

In [4]:
df = pandas.read_excel(dl_file)

/Users/tommy/source-code/tommyunger/Datavis-320/.venv/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [8]:
df.to_csv("bus-safety-injury-details.csv")

In [7]:
df.head()

,Date,Route,Operator,Borough,Garage,Incident type,Injury,Injury outcome,Victim category,Age,Gender,ID
0,2022-09-30 00:00:00,1,Go-Ahead,Southwark,MORDEN WHARF ROAD,Personal Injury Event,Yes,No treatment offered or required,Passenger / customer,Adult (18-65),Female,233537.0
1,2022-09-30 00:00:00,102,Arriva London,Barnet,PALMERS GREEN,Collision,Yes,Refused treatment,Pedestrian,Adult (18-65),Unknown,233639.0
2,2022-09-30 00:00:00,126,Go-Ahead,Greenwich,ORPINGTON (METROBUS),Personal Injury Event,Yes,Refused treatment,Passenger / customer,Elderly (65+),Female,233338.0
3,2022-09-30 00:00:00,162,Go-Ahead,Greenwich,ORPINGTON (METROBUS),Slip Trip Fall,Yes,Refused treatment,Passenger / customer,Unknown,Female,233140.0
4,2022-09-30 00:00:00,177,Stagecoach,Greenwich,PLUMSTEAD,Personal Injury Event,Yes,Taken to hospital,Passenger / customer,Adult (18-65),Male,233439.0